.overlay {
    position: absolute;
    inset: 0;
    // opacity: 0;
    // visibility: hidden;
    // z-index: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    will-change: opacity;
}
.hearch-line-vertical {
    border: 1px solid rgba(255, 355, 255, 0.16);
    width: 1px;
    height: 2rem;
    margin-left: 0.5rem;
}
.header-search {
    &-input {
        padding-right: 3.5rem;
        border: 2px solid transparent;
        &:focus {
            border-color: #f5c518;
        }
    }
    &-btn {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
.header-menu {
    &-box {
        position: fixed;
        inset: 0;
        background-color: #1f1f1f;
        z-index: 100;
        padding: 2rem 0;
        opacity: 1;
        visibility: visible;
        transition: all 0.2s ease;

        &__inner {
            max-height: calc(100vh - 200px);
            overflow: auto;
        }
        &:not(.show) {
            top: -100%;
            opacity: 0;
            visibility: hidden;
        }

        &__mb {
            position: fixed;
            left: 0;
            top: 0;
            width: 17.5rem;
            height: 100%;
            background-color: rgb(31, 31, 31);
            z-index: 100;
            box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2),
                0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14),
                0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
            transform: translateX(0);
            &-close {
                justify-content: end;
                background: repeating-linear-gradient(
                        45deg,
                        rgba(255, 255, 255, 0.08),
                        rgba(255, 255, 255, 0.08) 2px,
                        transparent 2px,
                        transparent 7px
                    ),
                    transparent;
                button {
                    width: 3rem;
                    height: 3rem;
                    padding: 0.75rem;
                }
            }
        }
    }
    &__heading {
        height: 63px;
    }
    &__link {
        width: 98px;
    }
    &__close {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        position: relative;
        &::before {
            transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            position: absolute;
            content: "";
            inset: 0;
            opacity: 0;
            background-color: #000;
        }
        &:hover::before {
            opacity: 0.08;
        }
    }
    &__title {
        padding-left: 52px;
    }
    &__icon {
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }
    &__txt {
        padding: 8px 16px 8px 52px;
        letter-spacing: 0.03125em;
    }
}

.list-sub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.item-sub {
    &__link {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 3.125rem;
    }
    &:last-child &__link{
        border-bottom: 1px solid rgba(255, 355, 255, 0.16);
    }
}
.heading-sub {
    &__arrow svg{
        transition: all 0.2s ease 0s;
        transform: rotate(90deg);
    }
}
.header-menu-box__mb-list {
    height: calc(100% - 100px);
    overflow: auto;
}
.header-menu-box__mb-item {
    &.active {
        .heading-sub__left{
            color: #f5c518;
        }
        .heading-sub__arrow svg{
            color: #fff;
            transform: rotate(-90deg);
        }
    }
}